<!--<p>test-component1 works!</p>-->

<div>
  test components works!
  <!--<form #Ref="ngForm" (ngSubmit)="showList1(Ref)">-->
  <!--<button class="submit" >BTN</button>-->

  <div style="text-align:center">
    <h1>
      Button Click Event eg
    </h1>
    <button (click)="showList1()">
      BTN 1
    </button>
    <h2></h2>
  </div>

  <select class="form-control" #dropdown1 (change)="showList2(dropdown1.value)">
    <option value="ijk">all elements</option>
    <option *ngFor="let item of List2" value={{item}}>{{item}}</option>

  </select>

  <table class="table">
    <thead>data in list1</thead>
    <tbody>
      <tr *ngFor="let p of List1">
        <td>{{p}}</td>
      </tr>
    </tbody>
  </table>

  <div style="text-align:center">
    <h1>
      Show Image Names
    </h1>
    <button (click)="getImageeNames()">
      BTN 2
    </button>
    <h2></h2>
  </div>

  <table class="table">
    <thead>saved Image Names List:</thead>
    <tbody>
      <tr *ngFor="let p of imageNameList">
        <td>{{p}}</td>
      </tr>
    </tbody>
  </table>

  <div style="text-align:center">
    <h1>
      session login
    </h1>
    <button (click)="login()">
      BTN Login
    </button>
    <h2></h2>
  </div>

  <div style="text-align:center">
    <h1>
      session logout
    </h1>
    <button (click)="logout()">
      BTN Logout
    </button>
    <h2></h2>
  </div>

  <!--</form>-->
</div>
